﻿


@{
    ViewBag.Title = "Videos";
}
<div class="video-content">
    <div class="top-header span_top">
        <div class="logo">
            <a href="/Home/Index"><img src="/images/logo.png" alt="" /></a>
            <p>Movie Theater</p>
        </div>
        <div class="search v-search">
            <form>
                <input type="text" value="Search.." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search..';}" />
                <input type="submit" value="">
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="right-content">
        <div class="right-content-heading">
            <div class="right-content-heading-left">
                <h3 class="head">Latest Colletcion of videos</h3>
            </div>
        </div>
        <!-- pop-up-box -->
        @Styles.Render("~/Content/magnificpopup")
        @Scripts.Render("~/bundles/magnificpopup")
        <script>
            $(document).ready(function () {
                $('.popup-with-zoom-anim').magnificPopup({
                    type: 'inline',
                    fixedContentPos: false,
                    fixedBgPos: true,
                    overflowY: 'auto',
                    closeBtnInside: true,
                    preloader: false,
                    midClick: true,
                    removalDelay: 300,
                    mainClass: 'my-mfp-zoom-in'
                });
            });
        </script>

        <!--//pop-up-box -->

        <div class="content-grids">
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum1.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div id="small-dialog" class="mfp-hide">
                <iframe src="https://www.youtube.com/embed/2LqzF5WauAw" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum2.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum3.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid last-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum4.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum5.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum6.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum7.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid last-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum8.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum9.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum10.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum11.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="content-grid last-grid">
                <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><img src="/images/gridallbum1.jpg" title="allbum-name" /></a>
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
                <ul>
                    <li><a href="#"><img src="/images/likes.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/views.png" title="image-name" /></a></li>
                    <li><a href="#"><img src="/images/link.png" title="image-name" /></a></li>
                </ul>
                <a class="button play-icon popup-with-zoom-anim" href="#small-dialog">Watch now</a>
            </div>
            <div class="clearfix"> </div>
            <!---start-pagenation----->
            <div class="pagenation">
                <ul>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
            <!---End-pagenation----->
        </div>
    </div>
   
</div>